<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!--
    manifest.json provides metadata used when your web app is added to the
    homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <!--
    Notice the use of %PUBLIC_URL% in the tags above.
    It will be replaced with the URL of the `public` folder during the build.
    Only files inside the `public` folder can be referenced from the HTML.

    Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
    work correctly both with client-side routing and a non-root public URL.
    Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <title>React App</title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css" />
</head>

<body>
	<noscript>
		You need to enable JavaScript to run this app.
	</noscript>
	<div id="root"></div>
	<!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->
</body>

<script type="text/babel">

    const TIMEDELTA = 5;

    function Clock({hour = 0, min = 0, sec = 0, miliseconds = 0, isPaused = false}) {

        let strHour, strMin, strSec, strMilis = '';
        if (hour < 0) {
            strHour = '00';
        } else if (hour > 23) {
            strHour = '23';
        } else {
            strHour = hour < 10 ? `0${hour}` : hour;
        }

        if (min < 0) {
            strMin = '00';
        } else if (min > 59) {
            strMin = '59';
        } else {
            strMin = min < 10 ? `0${min}` : min;
        }

        if (sec < 0) {
            strSec = '00';
        } else if (sec > 59) {
            strSec = '59';
        } else {
            strSec = sec < 10 ? `0${sec}` : sec;
        }

        if (miliseconds < 0) {
            strMilis = '000';
        } else if (miliseconds > 999) {
            strMilis = '999';
        } else {
            strMilis = miliseconds < 10 ? `00${miliseconds}` : (miliseconds < 100 ? `0${miliseconds}` : miliseconds);
        }

        return (
            <h2 className={isPaused ? 'inactive' : ''} >
                {`Pozostało: ${strMin}:${strSec}`}
            </h2>
        );
    }

    function ProgressBar({percent = 33, trackRemaining = false, isPaused = false}) {

        let size = trackRemaining ? 100 - percent : percent;
        return (
            <div className={`progressBar ${trackRemaining ? 'trackRemaining' : ''} ${isPaused ? 'inactive' : ''}`}>
                <div style={{ width: `${size}%` }}></div>
            </div>
        );
    }


    function TimeBoxEditor() {
        return (
            <div className="timeboxEditor inactive">
                <label>Co robisz: <input disabled type="text" value="Uczę się skórtów Emmeta" /></label><br/>
                <label>Jak długo: <input disabled type="text" value="30" /></label><br/>
                <button disabled>Start</button>
            </div>
        );
    }

    class TimeBox extends React.Component {

        constructor(props) {
            super(props);

            this.state = {
                isRunning: false,
                isPaused: false,
                pausesCount: 0,
                elapsedTimeInSeconds: 0,
                totalTimeInSeconds: 88,
            }
        }

        onStartClickHandler = () => {
            this.setState({
                isRunning: true,
            });
            this.startTimer();
        }

        onStopClickHandler = () => {
            this.setState({
                isRunning: false,
                isPaused: false,
                pausesCount: 0,
                elapsedTimeInSeconds: 0,
            });
            this.stopTimer();
        }

        onPauseResumeChangeHandler = () => {
            const { isRunning, isPaused, pausesCount} = this.state;

            if (isPaused) {
                this.startTimer();
            } else {
                this.stopTimer();
            }

            this.setState({
                pausesCount: !isPaused ? this.state.pausesCount + 1 : this.state.pausesCount,
                isPaused: !isPaused,
            });
        }

        startTimer = () => {

            const { totalTimeInSeconds } = this.state;
            this.intervalId = setInterval(
                () => {
                    this.setState(
                        (prevState) => ({
                            elapsedTimeInSeconds: prevState.elapsedTimeInSeconds + (TIMEDELTA / 1000.0),
                        })
                    );
                    if(this.state.totalTimeInSeconds < this.state.elapsedTimeInSeconds) {
                        this.onStopClickHandler();
                    }
                }, TIMEDELTA
            );
        }

        stopTimer = () => {
            window.clearInterval(this.intervalId);
        }

        render() {

            const { isRunning, isPaused, pausesCount, elapsedTimeInSeconds, totalTimeInSeconds } = this.state;
            const timeLeftInSecoinds = totalTimeInSeconds - elapsedTimeInSeconds;
            const minutes = Math.floor(timeLeftInSecoinds / 60);
            const seconds = Math.floor(timeLeftInSecoinds % 60);
            const elapsedTimeInPercent = (elapsedTimeInSeconds / totalTimeInSeconds) * 100.0;

            return (
                <div className="timebox">
                    <h1>Uczę się skórtów Emmeta</h1>
                    <Clock min={minutes} sec={seconds} isPaused={isPaused}/>
                    <ProgressBar percent={elapsedTimeInPercent} trackRemaining isPaused={isPaused} />
                    <button onClick={this.onStartClickHandler} disabled={isRunning}>Uruchom</button>
                    <button onClick={this.onStopClickHandler} disabled={!isRunning}>Zatrzymaj</button>
                    <button onClick={this.onPauseResumeChangeHandler} disabled={!isRunning}>{isPaused ? 'Wznów' : 'Pauzuj'}</button>
                    <span>Liczba przerw: {pausesCount}</span>
                </div>
            );
        }
    }


    function App() {
        return (
            <>
                <h1>Kurs React</h1>
                <hr/>
                <div className="appContainer">
                    <TimeBoxEditor />
                    <TimeBox />
                </div>
            </>
        );
    }

    ReactDOM.render(<App />, document.getElementById('root'));
</script>
</html>