:root {
    --PB_COLOR: #ff6060;
}
.appContainer {
    font-family: sans-serif;
    text-align: center;
    padding:0.5rem;
}
.timebox,.timeboxEditor {
    border: 1px solid #707070;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
.timebox {
    text-align: center;
}

.timebox button {
    padding: 0.25rem 0.5rem;
    margin: 0 0.25rem;
}
.timeboxEditor {
    text-align: right;
}
.timeboxEditor > label {
    margin-bottom: 1rem;
}

input {
    font-size: 1.5rem;
    margin-left: 1rem;
    min-width: 50rem;
}

.inactive {
    filter: grayscale(2) blur(2px);
}

.progressBar {
    border: 1px solid var(--PB_COLOR);
    border-radius: 16px;
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    padding: 2px;
    margin-bottom: 1rem;
}

.progressBar.trackRemaining {
    text-align: right;
}

.progressBar.trackRemaining > div {
    margin-right: 0;
    margin-left: auto;
}
.progressBar>div {
    height: 100%;
    background-color: var(--PB_COLOR);
    border-radius: 16px;
    max-width: 100%;
}